  <%# requires q local variable %>

  <p class="question-title"><%= q.query %></p>
  <p class="question-description"><%= q.description %></p>
  <p class="question-required">
    <% if q.required %>
    * required
    <% end %>
  </p>
