<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.title %>
</p>

<% @survey.questions.each do |q| %>
  <%= render partial: 'questions/individual', locals: {q: q} %>
<% end %>
